@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: normal;
}
body{
    background-color: #252525;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
}

.logo{
    display: flex;
    justify-content: center;
}
.logo img{
    width: 150px;

}
.container-login{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.main-login{
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-page{
    height: 500px;
    width: 750px;
    background-color: rgb(54, 54, 54);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.611);
    border: none;
    
}
.card-login{
    width: 50%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 40px 120px 120px 40px;
    background-color:  #1d1d1d;
    height: 100%;

}
.card-cadastro{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    h1{
        font-weight: 600;
    }
    p{
        padding-bottom: 20px;
    }

}
.cadastro{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.cadastro input{
    height: 40px;
    width: 250px;
    border-radius: 20px;
    color: black;
}
.negrito{
    font-weight: 500;
}
.cadastro-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.btn-cadastro{
    width: 180px;
    height: 40px;
    color: #fff;
    background-color:rgb(54, 54, 54);
    font-weight: 700;
    border-radius: 10px;
    outline: 1.5px solid white;
    cursor: pointer;
    transition: 0.3s;
}

.btn-cadastro:hover{
    background-color: #fff;
    color: rgb(54, 54, 54);
}
.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1{
        font-weight: 600;
    }
    p{
        padding-bottom: 20px;
    }
}

.btn-login{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 40px;
    color: #fff;
    background-color: rgb(54, 54, 54);
    border-radius: 10px;
    text-decoration: none;
    font-weight: 700;
    outline: 1.5px solid #fff;
    cursor: pointer;
    transition: 0.3s;
    border: 2px solid black;
}
.btn-login:hover{
    background-color: #fff;
    color: rgb(54, 54, 54);
}

.input-itens::placeholder{
    text-align: center;
    letter-spacing: 1.5px ;
    font-weight: 500;
}
.input-itens {
    text-align: center;
    color: rgb(61, 60, 60); 
    font-size: 18px; 
    font-weight: 500;
  }





