.container-form{
    height: 92vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.forms1{
    height: 600px;
    width: 750px;
    border-radius: 0px 100px 100px 100px;
    padding: 40px;
    background-color: #1d1d1d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1{
        font-size: 2rem;
        font-weight: 700;
    }
}
.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 20px;


}
.itens-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.itens-form input{
    height: 60px;
    width: 550px;
    border-radius: 50px;
    color: #1d1d1d;
    font-weight: 600;
    text-align: center;
}

.button-enviar{
    width: 180px;
    height: 50px;
    background-color: rgb(54, 54, 54); 
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
    
}

.button-enviar:hover{
    background-color: #1d1d1d;
    outline: 1.5px solid #fff;

}