
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "poppins", serif;
    font-weight: 500;
}

body{
    background-color: #737373
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#0D0D0D ;
    height: 8vh;
}
 main{
    height: 92vh;
    background-color: #737373;
 }
 .nav-list{
    list-style: none;
    display: flex;
    gap: 40px;
 }

 .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
 }

 ul li a {
    color:#D9D9D9;
    text-decoration: none;
    transition: 0.3s;
}
ul li a:hover{
    opacity: 0.2 ;
}
.logo{
    height: 50px;
    align-items: center;
    cursor: pointer;
    padding-top: 3px;
}

 button {
    width: 140px;
    height: 40px;
    border: none;
    border-radius: 30px;
    transition: 0.4s;
    letter-spacing: 2px;
    font-weight: 800;
    text-transform: uppercase;
    align-items: center;
    cursor: pointer;
 }
 button:hover{
    background-color:#0D0D0D ;
    color: #D9D9D9;
    outline:2px solid gray;
     
 }
