body{
    color: #fff;
}

main{
    height: 92vh;
}

.part-1{
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.part-1 img{
    width: 300px;
    height: 300px;
    border-radius: 20px;
}

.quem-somos{
    font-size: 1.5rem;
    padding: 30px;
h1{
    font-weight: 600;
    text-align: center;
    letter-spacing: 2px;
    padding-bottom: 20px;
}
p{
    font-weight: 400;
}
}
.part-2{
    height: 400px;
    width: 100%;
    gap: 40px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.part-2 img{
    width: 300px;
    height: 300px;
    border-radius: 20px;
}
