@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: normal;

}

main{
    color: white;
}

#sobre{
    display: inline-block;
    height: 92vh;
}
section{
    justify-content: space-around;
    padding: 40px;
}

#conteudo h1{
    font-size: 2rem;
    font-weight: 700;
    justify-content: center;

}

#text-conteudo {
    padding: 20px 0;
}

#text-conteudo p {
    margin-bottom: 20px;

}
#text-conteudo p strong{
    font-weight: 600 ;
}

#text-conteudo h2{
    font-weight: 700;
    color: rgb(170, 35, 35);
}

main #sobre #conteudo{
    gap: 1000px;
}

#conteudo #sobre #text-conteudo{
    gap: 30px;
}


#conteudo #text-conteudo{
    font-size: 1.5rem;
    font-weight: 400px;

}

#sobre #car-image{
    width: 650px;


}

